<style>
.cooling{
  background:#4BAAC4;
  border-radius:50px;
display: inline-flex;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  color:white;
}
</style>
<div class="cooling">
<img src="{{ 'Snowflake.svg' | asset_url }}"> Tiefkühlprodukt
</div>