<!-- Swym Wishlist on Existing Page -->
<br>
<style>
.swym .grid_item {
  padding:1rem;
  background:
}

.swym{
display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}
  
</style>



<div class="grid swym" style=">
  <div class="page-width grid" style="" id="wishlist-items-container">
      
  </div>
</div>

<!-- Swym Wishlist render JS + CSS -->
<script src="{{ 'swim-custom-wishlist.js' | asset_url }}" async></script>


<!-- Swym Custom Page CSS  -->
{{ 'swym-custom.css' | stylesheet_tag }}