<style>

</style>


{%- paginate customer.orders by 20 -%}

<div class="page-width page-content">
  
<div class="myaccount">
<div class="accsidebar">
{% render 'accsidebar' %}
  
</div>
<div class="orders">
<p class="headeracc">Hallo, {{ customer.first_name }} {{ customer.last_name }} <a class="logout" href="accounts/logout">(ausloggen)</a></p> 
<div class="grid">
    <div class="grid__item">
      <h2>Wishlist</h2>
    
{% render 'swimcustom' %}

 </div>



  </div>
  
</div>
  </div>
  



</div>
{%- endpaginate -%}
