<div class="page-width">
<div class="custompadding">
<h3 class="indexheading">{{ section.settings.title }}</h3>
<div class="catholder2">
{% for block in section.blocks %}
{% assign collection = collections[block.settings.collection] %}

<a class="catchild2" href="{{ collection.url }}">
  <div class="catabsolute">
<div class="catimg">
  <img src="{{ block.settings.image  |img_url:"200x" }}">
</div>
<div class="cattext">
<p class="h3">{{ block.settings.title }}</p>
</div>
  </div>
</a>
{% endfor %}
</div>
</div>
</div>

{% schema %}
{
  "name": "Categories 2",
  "settings": [
       {
      "type": "text",
      "id": "title",
      "label": "Titel"
    } 
  ],
  "blocks": [
    {
      "type": "type",
      "name":"category",
      "settings": [
        {
  "type": "collection",
  "id": "collection",
  "label": "Kategorie"
},
    {
      "type": "text",
      "id": "title",
      "label": "Titel"
    },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Icon"
    }
        
      ]
    }
  ],
  "presets": [
    {
      "name": "Kategorien Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}