@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*Custom CSS by Hasaan Latif | PurplePanda.media*/
/*Theme Überschreibungen*/
.btn {
  border: 2px solid #BABFC3;
}

#pushdaddy-widget{
  display:none!important;
}

#pagecontainer{
  font-family:'Inter'!important;
}

svg{
transition:all 0.5s ease;  
}

.animateimg{
  
}

.rot{
  transform:rotate(180deg);
}

.inter{
  font-family:'inter';
}

.einheit{
  font-size: 1rem;
  line-height:1.2;
  color: #616161;
}

.grid__item--sidebar{
  font-size:1rem;
}



.white{
  color:white;
}

table{
  background:white;
}

.cstmbtn{
  border:none;
  color:  white;
  background:#00573D;
  border-radius:4px; 
}

.js-qty__num{
  border:1px solid #E0E0E0;
}



.grid{
  display: flex;
flex-wrap: wrap;

}


.grid--uniform{
    gap:1rem;
}

.grid:after{
  display:none;
}

.drawer__fixed-header{
  z-index:99999;
  margin-bottom:1rem;
}


.image-wrap{
  border-radius:8px;
}

.product-single__title{
  font-size:1.2rem;
  font-family:'Inter';
}

#stickyy{
      display: flex;
    justify-content: center;
    align-items: center;

}

#stickyy .freeshipping{

}

/*Ende Theme Überschreibungen*/

/*Custom Globals*/
.custompadding{
  padding-top: 1rem;
  padding-bottom:1rem;
}

.indexheading{
  text-align:left;
}

.align-top{
  align-items:flex-start!important;
}
/*ende customglobals*/
#SiteHeader{
  display:none!important;
}

.custom-toolbar-content{
  width: 100%;
  padding: 22px 0;
}

.toolbar-custom{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.whatsapp{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-holder {
  min-width: 50px;
  max-width:60px;
  margin-right: 75px;
}

.search-holder{
  display:flex;
  flex-grow: 1;
  background: #F5F5F5;
  border-radius: 8px;
  position:relative;
  padding: 0px 20px;
}

.search-holder > *{
  border:none!important;
}

.sicon{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.sicon img{
max-width:28px!important;
max-height: 28px!important;
margin:auto;
}

.freeshipping{
      display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(46,114,210,.12);
    padding: 0.5rem;
    border-radius: 6px;
    gap: 0.5rem;
    color: #2e72d2;
    font-weight: 600;
  margin-left:auto;
}

#searchres{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
padding: 1rem;
  height:auto;
  background:white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 26px 80px rgba(0, 0, 0, 0.2);
border-radius: 12px;
z-index: 10;
display: flex;
    flex-direction: column;
    gap: 0.5rem;
  display:none;
}

.resultitem{
    display: flex;
  gap:1rem;
  font-size:1rem;
  margin-bottom: 1rem;
  width:100%;
}

.searchtitle{
  font-weight:bold;
  font-size:1.2rem;
}

.searchcomp{
  text-decoration-line: line-through;
text-transform: capitalize;
color:#E10800;
}

.resultitem .pcardatc{
  flex-basis:30%;
margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#prediciveresults .resultitem{
  width:100%;
}

.resultitem .js-qty__wrapper{
  margin:auto!important;
}

.resultitem img{
  border-radius:50%;
  width:20%;
  height:auto;
}

.searchtxt{
  display:flex;
  flex-direction:column;
  flex-grow: 1;
flex-basis: 100%;
}

.ttextinput:focus  #searchres{
display:block;
}

.tcat {
  flex-basis: 35%;
}

.ttextinput {
  flex-grow:1;
  border:none!important;
  margin:auto;
  height:100%;
}

.trenner {
  width: 1px;
  max-height: 40%;
  margin:auto;
  background:#E0E0E0;
}



.cartcustom{
  width: 28px;
  heigth: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartcustom:hover{
  cursor:pointer;
}

.whishlist-holder{
  width: 28px;
  heigth: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-left{
  display:flex;
  align-items:center;
  justify-content: flex-start;
}

.toolbar-right{
display:flex;
justify-content: space-between;
align-items:center;
width: 12.5%;
}

.theight{
  height:46px;
}

.theight > *:not(.cartcustom){
  height: 100%;
}



.profilepic img{
  height:100%;
  width: auto;
}

.whishlist-holder{
  display:flex;
  align-items:center;
}

.whatsapp-logo{
  width:32px;
  height: 32px;
}

.whatsapptext{
  margin-right:0.5rem;
}

.whatsapptext p {
  margin:0;
}

/*SearchToolbar*/

[data-type-products] > .grid{
    display: flex;
    flex-direction: column;
}

[data-type-products] > .grid > .grid__item{
  width: 100%;
  display: flex;
  
}

[data-type-products] > .grid > .grid__item  > .grid-product__content >.grid-product__link {
  display:flex;
  width:100%;
  gap:0.5rem;
}

[data-type-products] > .grid > .grid__item  > .grid-product__content >.grid-product__link>.pcardatc>.js-qty__wrapper{
      margin-top: auto;
    margin-bottom: auto;
}

[data-type-products] > .grid > .grid__item  > .grid-product__content >.grid-product__link>.grid-product__image-mask{
  width:25%;
    border-radius: 50%;
    overflow: hidden;
    height: 25%;
}

.grid__image-ratio img.grid__image-contain{
  object-fit:cover;
}

[data-type-products] > .grid > .grid__item  > .grid-product__content >.grid-product__link>.grid-product__meta{
  text-align:left;
}

[data-type-products] > .grid > .grid__item  > .grid-product__content{
  width:100%;
}

/*Secondary Toolbar*/
.stoolbar{
  border-top: 1px solid #f5f5f5;
}


.seclinks {
  padding:17px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.secul{
  z-index:10;
  position:absolute;
  display:none;
  
  /*To do*/
}

.securl{
  display:flex;
  align-items:center;
  gap:0.5rem;
}
.securl:hover {
  color:grey;
}

.securl svg {
  width: 0.5rem;
  height:auto;
}

.dropdownholder {
  position: relative;
}
/*Dropdown Menu*/
.secul {
  list-style:none;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 26px 80px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding:1rem;

}

.secul li {
 border-bottom: 1px solid  #F5F5F5; 
}

.bestselling{
  overflow:hidden;
}

/*ScrollAble Container*/
.scrollable{
    display: flex;
    width: 100%;
  overflow-x:scroll;
  scroll-snap-type:x;
  justify-content:space-between;
  
}

.buttonsholder{
      display: flex;
    justify-content: end;
    margin: 1rem 0;
    gap: 0.5rem;
}
.buttonsholder  > svg >rect{
  transition: all 0.2s ease-in;
}

.customslide{
  display: flex;
      width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
  justify-content:space-between;
  scroll-snap-align:start;
}
.customslide:last-child{
  justify-content: flex-start;
  gap:1rem;
}


.customslide > .pcard{
  margin:0;
}

.template-product .trustbadges{
  border-bottom: 1px solid #eeeeee;
  padding-bottom:3rem;
}

.product-block--price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#tabs-1 .h1{
  font-family:var(--typeHeaderPrimary),var(--typeHeaderFallback);
}

/*Product Cards*/
.pcard{
  position:relative;
  flex-basis: calc(20% - 1rem);
  flex-shrink: 0;
  background:#F5F5F5;
  border-radius:6px;
  padding:0.9rem 0.7rem;
 margin-right: 1rem;
}

.pimage{
  overflow:hidden;
  margin:0 auto;
  text-align:center;
}

  .pholder{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    display:flex;
}

.pimage img{
  border-radius:50%;
  height:100%;
  width:auto;
}

.pcardcompprice{
  color: #D72C0D;
  text-decoration: line-through;
}

.pcard > .prices{
  margin-bottom:0.5rem;
}

.pcardatc{
  display:flex;
}

.pcardatc  > .js-qty__wrapper{
  max-width:none;
  width:100%;
  margin-bottom:0.5rem;
}

.pcard > .soldout{
      position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    border-radius: 3px;
    background: #D82C0D;
    color: white!important;
    padding: 0.2rem;
  z-index:3;
}

.pcardhide  > .cstmbtn{
  width:100%;
}

.pcardhide .btnholderc .cstmbtn {
  width:100%;
}

.pcardtxt{
  word-break:break-word;
}

.pcardhide{
  height:0px;
  overflow:hidden;
  transition: all 0.3s ease;
}

/*CollectionPage*/

.template-collection .pcard{
      max-width: calc(25% - 1rem);
  flex-basis: calc(25% - 1rem);
}
@media only screen and (max-width: 769px){

  .animateimg{
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

.product-slideshow{
  width:85%;
  margin:0 auto;
}
  
.template-collection .trustbadges{
flex-direction:row!important;
margin:1rem auto;
overflow:scroll;
}

.template-collection .trustbadges .badge{
flex-shrink:0;
}

.template-collection .badge-txt{
  text-align:left;
}

.template-collection .pcard{
margin-right:0;
}

}


.grid .pcard{
  flex-basis:calc(25% - 1rem);
  margin:0;
  display: flex;
    flex-direction: column;
}

.grid{
  justify-content:flex-end;
}

.template-collection .grid .medium-up--one-fifth{
width:25%;
}

.template-collection .grid .medium-up--four-fifths{
width:75%;
}



/*Categories*/
.catholder{
display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  gap:1rem;
}

.catchild{
  width:30%;
  display:flex;
  align-items:center;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1); 
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
  border-radius:10px;
}
.catflag{
width:20%;
margin-right: 1rem;
}
.cattext .h3{
  font-size: 1.2rem;
  margin-bottom:0;
}

.cattitle{
font-size: 1.2rem;
margin-bottom: 0;
}

.catholder2{
  display:flex;
  justify-content:space-between;
  gap:1rem;
}

.catchild2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1); 
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
  border-radius:10px;
  flex-basis:calc(20% - 1rem);
  position:relative;
}

.catchild2:before{
    content: "";
    display: block;
    padding-top: 100%;
  
}

.variant-input-wrap input[type=radio]:checked+label{
  background:#00573D;
  color:white;
  box-shadow:0 0 0 1px transparent;
}

.variant-input-wrap label{
 box-shadow:0 0 0 1px lightgrey; 
  border-radius:5px;
}

.catholder3{
    display:flex;
    flex-direction:column;
    width: calc(20% - 1rem); 
  }

  .catholder3 a{
width:100%;
padding-bottom:100%;
  }

.catholder3  > .catchild{
  background-size:cover;
  background-position:50% 50%;
}

.catimg{
  width:20%;
}

.catabsolute{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Trustbadges*/
.trustbadges {
display: flex;
align-items: center;
justify-content: space-between;
margin: 3rem auto;
}


.badgeh2{
  font-family:var(--typeHeaderPrimary),var(--typeHeaderFallback);
}
.badge{
display:flex;
flex-direction:row;
align-items:center;
font-weight:100;
width: 25%;
}

.badge-img{
width:25%
}

.badge-txt{
display:flex;
flex-direction: column;
justify-content: space-between;
align-self: stretch;
padding:0.5rem 0;
}

/*Collection Sidebar*/
.kat{
  font-size:1rem;
  font-weight:500;
  text-transform:none;
  letter-spacing:normal;
}

.bbstock{
  padding:0.5rem 1rem;
}


.katdiv{
  margin-top:1rem;
  margin-left:auto;
  margin-right:auto;
  height:1px;
  background:#CCDDD8;
}

.collection-sidebar__group{
  border-top:none;
}

.tag__checkbox:before{
border: 2px solid #8C9196;
border-radius: 4px;
}

.tag2{
  margin-left:1rem;
}

.greenbg{
  background: #F1FAF0;
  padding:1rem;
  border-radius:6px;
}

.collection-sidebar-2{
    margin-right: 10px;
    margin-bottom: 20px;
}

.collection-filter__item--count{
  font-size:1.3rem;
  font-weigth:600;
}

.template-collection .page-content{
  padding-top:0;
}

/*Mobile Filter*/
.drawer__scrollable .greenbg{
  background:transparent;
}

/*mobile css*/

@media only screen and (max-width: 769px) {
/*Globals*/

#CartDrawerForm{
  max-height:100vh;
}
  
.cart-link{
  display:flex;
}

.scrollable{

  padding:10px 0;
}
  
/*pCard*/
.pimage{
  margin-bottom:0.5rem;
  height:100%;
  width:auto;
  max-height:70%;
}

.grid .pcard{
  flex-basis:calc(50% - 1rem);
  max-width:calc(50% - 1rem);
}

.scrollable > .pcard {
  flex-basis:calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: start;
  scroll-snap-align:start;
  gap: 1rem;
  max-height:35vh;
}

  .pholder{
      height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index:3;
}

  .butttons{
    
  }

.pcardhide{
  height:auto;
  margin-top: auto;
      position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.pcardhide .btnholderc{
  height:0;
  overflow;hidden;
  width:100%;
}

  [data-fakebutton-trigger]{
    z-index:9;
  }


  
.cstmqty{
  border-radius:500px;
}

.cstmqty .js-qty__adjust--minus{
  z-index:0;
}

.qtyoverlay{
position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
    border: 2px solid white;
    background: #F5F5F5;
    border: 0px;
    justify-content: flex-end;
}

.fakecicle{
width:100%;
  }

.noborder {
-webkit-border-top-right-radius: 0px!important;
-webkit-border-bottom-right-radius: 0px!important;
-moz-border-radius-topright: 0px!important;
-moz-border-radius-bottomright: 0px!important;
border-top-right-radius: 0px!important;
border-bottom-right-radius: 0px!important;
}

.fakecicle button{
  z-index: 3;
    background: #00573D;
    border-radius: 100px;
    right: -1px;
    left: auto;
  border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
}
  
.cstmqty >input{
  border:none;
  color:white;
  background:#00573D;
  transition:all 0.3s ease-in;
}

.cstmqty .js-qty__adjust--plus{
  border-radius:100px;
}

.cstmqty >button{
  border:none;
  color:white;
  background:#00573D;
  transition:all 0.3s ease-in;
}

.cstmqty .js-qty__adjust{
  fill:white;
}

  
/*Category Banners*/
  .catchild{
  width:calc(50% -  0.5rem);
  flex-direction:column;
  gap:1rem;
  text-align:center;
}

.catflag{
  width:40%;
  margin:0;
}

.catholder2{
  flex-wrap:wrap;
}

.catchild2{
 flex-basis: calc(50% - 1rem);
}
  
.catholder3{
    display:flex;
    flex-direction:column;
    width: calc(50% - 1rem); 
  }

.template-index .shopify-section:not(#shopify-section-header){
  margin-bottom:2rem;
}

.badge{
  width:80%;
  justify-content: flex-start;
}

.badge-img{
  flex-basis:30%;
}

.trustbadges{
flex-direction:column;
align-items:center;
gap:1rem;
text-align:center;
}

.badge-txt{
justify-content: space-evenly;
flex-basis:70%;
font-size:1.1rem;
}


.badge-img img{
width: 70%;
text-align: center;
margin: 0 auto;
}

/*Navigation*/
#SiteHeader{
  display:block!important;
}
.stoolbar{
  display:none;
}

.drawer__title{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  margin-right:1rem;
}

  .drawer__title .txt{
    padding-right:1rem;
    border-right: 1px solid #EEEEEE;
  }

.drawer__title .disclosure-list{
  font-size:1rem;
}

.drawer__title .faux-select .icon{
  position:static!important;
  transform: translateY(0);
}

.drawer__title .multi-selectors__item{
  margin:0;
}
.mobile-nav__social .whatsapp{
  flex-direction:row-reverse;
  gap:1rem;
}

.mobile-nav__social .whatsapp .whatsapptext{
  font-size:1.2rem;
}

.mobile-nav__social .whatsapp .whatsapptext .light{
  font-size:1rem;
}

  .menudiv{
    height:1px;
    width:80%;
    margin:0 auto;
    background:#F5F5F5;
  }
  

.freeshipping{
      display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(46, 114, 210, 0.12);
    padding: 0.5rem;
    border-radius: 6px;
    gap: 0.5rem;
    color: #2E72D2;
    font-weight: 600;
}
  
}




/*Login Pages etc*/



.template-customers-login input{
  border: 1px solid #C9CCCF;
border-radius: 4px;
}

.template-customers-login button:not(.site-header__search-btn)[type=submit]{
  background:green;
}

.site-header__search{
  padding:0.5rem 0;
}

.template-customers-register input{
  border: 1px solid #C9CCCF;
border-radius: 4px;
}

.template-customers-register button[type=submit]{
  background:green;
}

.template-customers-login .logincont{
  display:flex;
  flex-direction:row;
}

.template-customers-login  .rechts {
    padding-left: 10%;
  }

  @media only screen and (max-width: 768px) {
/*SearchResults*/
#PredictiveResults .searchtext{
  font-size:1rem;
}

.resultitem .pcardatc {
  min-width:30%;
}

#PredictiveResults .resultimg {
align-self:center;
}

    
.template-collection .grid .medium-up--four-fifths{
  width:100%
}
  .template-collection .grid {
    justify-self:center;
    align-self:center;
  }
.template-customers-login .logincont{
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1.5rem;
}

    .template-customers-login .logincont .one-half{
      width:100%;
    }

.template-customers-login .rechts {
    padding-left: 0%;
  }

    .badge-img{
      flex-basis:auto;
    }
    .badge-txt{
      text-align:center;
    }
}

.myaccount{
  display:flex;
  width:100%;
  font-size:1.2rem;
}

  .accsidebar{
    flex-basis:15%;
  }

.acclinks{
  display:flex;
  flex-direction: column;
  margin:0!important;
}
  
.orders{
  flex-basis: 85%;
}

.cstmtable{
  display: flex;
    flex-direction: column;
    background: white;
    gap: 1rem;
    justify-content: center;
  font-size:1rem;
}

.cstmtable tr{
display:flex;
justify-content:space-between;
}

  .table__section{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.15);
border-radius: 6px;
  }
.modalbg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: RGBA(29,72,53,0.31);
    opacity: 1;
    z-index: 100;
}

.bgflex{
  display:flex;
  justify-content:center;
  align-items:center;
}

.modalbg > div {
      background: white;
    width: 80%;
    margin: auto;
  border-radius:1rem;
  position:relative;
}

.modalbg > div > form {
  padding:1rem;
}

.modalbg hr {
  display:none;
}

.modalbg .modalclose{
  position: absolute;
    right: 1rem;
    top: 1rem;
    color: white;
    font-size: 2rem;
color:var(--colorModalBg)
}

.modalbg .modaladd{
  font-size: 1.2rem;
  line-height: 1.4;
  padding:1rem;
}

.addcont{
      display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #f5f5f5;
}

  .addcont .bold{
    font-size:1.4rem;
  }

  .addcont span:not(.bold){
    color:grey;
  }

@media only screen and (max-width: 786px) {
.page-content{
  padding-top:1rem;
}
  
  .myaccount{
  flex-direction:column;
}

.acclinks{
  flex-direction:row;
  overflow-x:scroll;
  font-size: 1.2rem;
  margin-bottom:1rem!important;
}

  .acclinks a{
    flex-basis:30%;
    flex-shrink:0;
  }
 .template-customers-addresses .table--responsive td:before{
    display:none;
  }

.cstmtable .table__section{
  flex-direction:column;
}
.template-customers-addresses .cstmtable .table__section > td{
  text-align:left!important;
}

  .template-customers-account .table__section > td{
    text-align:right!important;
  }

.modalbg >.modalform{
  width:100%;
  margin:0.5rem;
}
}

.ui-tabs-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  text-align:center;
  
}

.ui-tabs-nav li {
 flex-grow:1;
box-shadow: inset 0px -1px 0px #E1E3E5;
padding-bottom:1rem;
transition: all 0.2s ease-in;
}

.ui-tabs-nav .ui-state-active {
box-shadow: inset 0 -4px #00573D
}

.badge-img{
  text-align:right;
  padding-right:1rem;
}

.badge-img img {
  max-width: 2rem;
}

.payment-icons{
  margin:0.5rem auto;
}


/*Pricerange*/

.price-range__display-wrapper{
  display:none;
}

.price-range__input{
  display:block;
  margin:0;
  background:white;
  border: 1px solid #E0E0E0;
  max-width: calc(50% - 1rem);
  border-radius:5px;
}

.price-range__slider-wrapper{
  display:none
}

.price-range{
  display:flex;
  row-gap:1rem;
  flex-wrap:wrap;
  justify-content:space-between;
  
}

.minuss{
      display: flex;
    align-items: center;
    justify-content: center;
}

.medium-up--hide > .freeshipping{
  background:#FAFAFA;
  border-radius:0;
}

.js-drawer-open-collection-filters{
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  gap:0.5rem;
  background: #FFFFFF;
/* Border Neutral/Subdued */

border: 1px solid #BABFC3!important;
/* shadow-button */

box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
border-radius: 4px;
}

.sortby{
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  gap:0.5rem;
  background: #FFFFFF;
/* Border Neutral/Subdued */

border: 1px solid #BABFC3!important;
/* shadow-button */

box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
border-radius: 4px;
}

.sortby select{
  border:0!important;
  display:flex;
  align-items:center;
  justify-content:center;
font-weight
text-align:center;
margin:auto;
    text-align:-moz-center;
    text-align:-webkit-center;
  font-weight:bold;
}

.sortby select option{
    text-align:center;
    width:100%;
    text-align:-moz-center;
    text-align:-webkit-center;
}

.sortby select option:before {
  content:"HI"
}

    .yellow{
    background:white;
    border: 1px solid #EEEEEE;
    color:#916A00!important;
    }

    .yellow svg > *{
    stroke:#916A00;
    }

.stickyy{
        position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.counter:empty{
  display:none;
}

